body {
    margin: 0;
    padding: 0;
    background: url('https://media.meteojob.com/theme/2.3/images/bg-clouds.png'), linear-gradient(to top, #6CC2EB, #1299D8);
    height: 100vh;
    /* font-family: 'Open Sans', Arial, Helvetica, sans-serif; */
}

main {
    width: 570px;
    margin: auto;
    padding-bottom: 5vh;
    overflow: hidden;
}

form {
    background-color: white;
    padding: 2em;
    box-sizing: border-box;
    margin-bottom: 1em;
    border-radius: 4px;
    overflow: hidden;
}

header {
    text-align: center;
    padding-top: 10vh;
}

header h2 {
    color: white;
    font-size: 1.2em;
    font-weight: 3em;
    font-family: 'Poiret One', cursive;
}


/* ******************************deco header et background */

.switch {
    position: relative;
    display: block;
    width: 100px;
    height: 30px;
    padding: 3px;
    border-radius: 1px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-sizing: content-box;
}

.choise {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #92999C;
    border-radius: 5px;
}

.choise:before,
.choise:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    transition: inherit;
    box-sizing: content-box;
}

.choise:before {
    content: attr(data-non);
    right: 11px;
    color: #fff;
    font-size: 15px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.choise:after {
    content: attr(data-oui);
    left: 11px;
    color: #fff;
    font-size: 15px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
}

.input:checked~.choise {
    background: #0F7EC5;
}

.input:checked~.choise:before {
    opacity: 0;
}

.input:checked~.choise:after {
    opacity: 1;
}

.switched {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 43px;
    height: 28px;
    background: linear-gradient(to bottom, #FFFFFF 40%, #F0F0F0);
    background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #F0F0F0);
    border-radius: 1%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switched:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 20px;
    height: 12px;
    border-radius: 6px;
}

.input:checked~.switched {
    left: 74px;
}


/* ********************************oui /non********************* */

button {
    padding: 8px;
    background-color: #F2F2F2;
    text-align: center;
    font-size: 0.9em;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    border: none;
    height: 300px;
    width: 400px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #0F7EC5;
    color: white;
    transition: 1s;
}

.line {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}

.plus {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 400px;
}

#cdd {
    background-color: #0F7EC5;
    color: white;
}

#send {
    margin: auto;
    cursor: pointer;
    margin-left: 14vw;
    background-color: #0F7EC5;
    color: white;
}

label {
    color: #16354E;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 1vh;
}


/* champs de saisi */

.nometprenom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#prenom {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

.reseign {
    border: 2px solid #aaa;
    box-sizing: border-box;
    outline: none;
    width: 18vw;
    height: 40px;
    padding-left: 10px;
    font-size: 1.2em;
    box-sizing: border-box;
}

.saisi {
    width: 40vw;
    height: 40px;
    border: 2px solid #aaa;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 1.2em;
    outline: none;
    box-sizing: border-box;
}


/* *****************special******************* */

.mdp {
    width: 40vw;
    height: 40px;
    border: 2px solid #aaa;
    box-sizing: border-box;
    padding-left: 10px;
    margin: 4px;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;
}

#password {
    border: none;
    font-size: 1em;
    outline: none;
    width: 23vw;
}

#img {
    height: 20px;
    width: 20px;
    padding-right: 10px;
    padding: 5px;
}


/* ***********button***************** */

button {
    padding: 8px;
    background-color: #f2f2f2;
    text-align: center;
    font-size: 0.9em;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    border: none;
    height: 7vh;
    width: 9vw;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #0f7ec5;
    color: white;
    transition: 1s;
}

#cdd {
    background-color: #0f7ec5;
    color: white;
}

#send {
    margin: auto;
    cursor: pointer;
    margin-left: 14vw;
    background-color: #0f7ec5;
    color: white;
    margin-top: 50px;
}

label {
    color: #16354e;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 1vh;
}


/* fin des btn */

.accept {
    font-weight: bold;
    color: #16354e;
    /* font-family: 'Open Sans', sans-serif; */
    width: 30vw;
    font-size: 0.9em;
    /* margin-right: 2vw; */
    margin-top: 5vh;
    text-align: justify;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.champs {
    margin-bottom: 3vh;
}

h3 {
    font-size: ;
    font-family: 'Open Sans', sans-serif;
    color: #16354e;
}

.contrat {
    font-weight: bold;
    cursor: pointer;
    font-size: 0.9em;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}

.accept a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #16354e;
}

.content_condition {
    display: flex;
    justify-content: space-between;
}

.check {
    margin-top: 5vh;
}